<!DOCTYPE html>
<html>
<head>
<title>Login Form</title>
<meta charset="utf-8">
<style>
    .login {
        margin: 130px auto;
        width: 400px;
        padding: 10px;
    }
    .input {
        margin: 5px auto;
        width: 100%;
        padding: 10px;
    }
    .submit {
        margin: 5px auto;
        float: right;
        padding: 5px;
        width: 90px;
        border: 1px solid #fff;
        color: #fff;
        background: red;
        cursor: pointer;
    }
</style>
</head>
<body>
<div class="login">
<form method="post" action="/register">
    <input class=" input" type="text" name="name" placeholder="your name"><br>
    <input class="input" type="password" name="password" placeholder="Masukan Passord"><br>
    <input class=" input" type="text" name="email" placeholder="email">
    <input class=" input" type="text" name="number" placeholder="number">
    <input class=" input" type="text" name="nik" placeholder="NIK">
    <input class="submit" type="submit" name="kirim" value="Kirim">
</form>
</div>
</body>
</html>
