<!DOCTYPE html>
<html>
<head>
<title>Login Form</title>
<meta charset="utf-8">
<style>
    .login {
        margin: 130px auto;
        width: 400px;
        padding: 10px;
    }
    .input {
        margin: 5px auto;
        width: 100%;
        padding: 10px;
    }
    .submit {
        margin: 5px auto;
        float: right;
        padding: 5px;
        width: 90px;
        border: 1px solid #fff;
        color: #fff;
        background: red;
        cursor: pointer;
    }
</style>
</head>
<body>
<div class="login">
<form method="post" action="/login">
    <h2>Login</h2>
    <input class="input" type="text" name="email" placeholder="email">    
    <input class="input" type="password" name="password" placeholder="Masukan Passord"><br>
    <button type="submit" class="submit">Login</button>
</form>
</div>
</body>
</html>
