.login {
    margin: 250px auto;
    width: 400px;
    padding: 10px;
}
.input {
    margin: 5px auto;
    width: 100%;
    padding: 10px;
}
.submit {
    margin: 5px auto;
    float: right;
    padding: 5px;
    width: 90px;
    border: 1px solid #fff;
    color: #fff;
    background: red;
    cursor: pointer;
}